<div class="col-md-12">

  <div class="card card-default widget animated" style="animation-delay: -0.07s;">
    <div class="card-heading">
      <div class="card-controls">
        
      </div>
      <h3 class="card-title">Добавить новый журнал</h3>
    </div>
    <div class="card-body">

      <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Введите название предмета</label>
        <div class="col-8">
          <input class="form-control" type="text" [(ngModel)]="createJournalViewModel.LessonName" name="LessonName">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Введите название группы</label>
        <div class="col-8">
          <input class="form-control" type="text" [(ngModel)]="createJournalViewModel.GroupName" name="GroupName">
        </div>
      </div>
    </div>
  </div>

  <div class="card card-default widget animated" style="animation-delay: -0.07s;">
    <div class="card-heading">
    </div>
    <div class="card-body">

      <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Введите количество видов работ</label>
        <div class="col-8">
          <input class="form-control" min="1"  type="number" [(ngModel)]="labBlockCount" (keyup)="fillLabBlockSettingsArray()" name="LabBlocksCount" >
        </div>
      </div>
      <table *ngIf="createJournalViewModel.LabBlocksSettings.length!=0" class="table table-hover">
        <tr>
          <td>Название вида работы</td><!--FirstDate-->
          <td style="padding-left: 20px;">Дедлайн для сдачи</td><!--FirstMark-->
          <td style="padding-left: 20px;">Добавить блок переcдачи</td><!--FirstMark-->
          <td style="padding-left: 20px;">Отображать ли данный вид работы</td><!--FirstMark-->
          <td style="padding-left: 20px;">Учитывать эту оценку для итоговой оценки</td><!--SecondDate-->
          <td style="padding-left: 20px;">Отображать ли данный вид работы для студента</td><!--SecondMark-->
          <td style="padding-left: 20px;">Булевое ли это поле</td>
        </tr>
        <ng-container *ngFor=" let key of createJournalViewModel.LabBlocksSettings; let i = index">
          <tr>
            <td><span>Вид работы - {{i}}</span></td>
            <td style="text-align: center;"><input type="text" [(ngModel)]="key.Deadline"></td>
            <td style="text-align: center;"><input type="checkbox" [(ngModel)]="key.IsSecondBlock"></td>
            <td style="text-align: center;"><input type="checkbox" [(ngModel)]="key.IsKindOfWorkVisible"></td>
            <td style="text-align: center;"><input type="checkbox" [(ngModel)]="key.IsCalculateMark" [disabled]="key.IsBoolField"></td>
            <td style="text-align: center;"><input type="checkbox" [(ngModel)]="key.IsVisibleToStudent"></td>
            <td style="text-align: center;"><input type="checkbox" [ngModel]="key.IsBoolField" (ngModelChange)="selectBooleanTypeField(key,$event)"></td>
        </ng-container>
        </table>
    </div>
  </div>

  <div class="card card-default widget animated" style="animation-delay: -0.07s;">
    <div class="card-heading">
      <div class="card-controls">
        
      </div>
      <h3 class="card-title">Выберите тип предмета</h3>
    </div>
    <div class="card-body">
      <div class="radio">
        <label>
          <input type="radio" name="typejournals" [value]="false" [(ngModel)]="createJournalViewModel.IsExam" id="optionsRadios1">
          Зачет
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="typejournals" [value]="true" [(ngModel)]="createJournalViewModel.IsExam" id="optionsRadios2">
          Экзамен
        </label>
      </div>
    </div>
  </div>
  
  <group-students (groupStudents)="StudentsChange($event)" [journalViewModel]=""></group-students>

  <div class="card card-default widget animated" style="animation-delay: -0.07s;">
    <div class="card-heading">
      <div class="card-controls">
        
      </div>
      <h3 class="card-title">Выберите ассистентов которые будут иметь доступ к журналу</h3>
    </div>
    <div class="card-body">
      <div class="checkbox" *ngFor=" let assistant of assistantList">
        <label>
          <input type="checkbox"  (click)="addAssistant($event,assistant.Id)">
          {{assistant.Login}}
        </label>
      </div>

      <button class="btn btn-success btn-lg" (click)="createJournal()">Создать журнал</button><!--Create journal-->
    </div>
  </div>
      
</div>