<div class="card card-default widget animated" style="animation-delay: -0.07s;">
  <div class="card-heading">
    <div class="card-controls">
      
    </div>
    <h3 class="card-title">Выберите группу</h3>
  </div>
  <div class="card-body">
    <div class="checkbox" *ngFor="let key of groupsArray;let i=index">
      <label>
        <input (change)="getGroupStudents(key,$event,i)" type="checkbox" name="group" value="{{key.Id}}" 
        [checked]="findObjectByKey(selectedStudent, 'Name', key.Name)"/>
        {{key.Name}}
      </label>
    </div>

  
      <ng-container *ngIf="subgroupStudents.length>0">
        <h5>Выберите студентов</h5>
        <ul class="game-list">
          <li *ngFor="let subgroup of subgroupStudents;let i=index " class="game-item">
            {{subgroup.groupName}}
            <ul>
              <li *ngFor="let student of subgroup.students ">
      
                <input (change)="selectStudent(student,$event,i)" type="checkbox"
                      name="student" 
                      [checked]="findObjectByKey(StudentList, 'StudentName', student.StudentName)"
                      />
                <span class="game-text">{{student.StudentName}}</span>
      
              </li>
            </ul>
          </li>
        </ul>
      </ng-container>
  </div>
</div>
