
  <div class="col-md-4 mx-auto">


      <div class="card card-default widget animated" style="animation-delay: -0.02s;">
        <div class="card-heading text-center">
          <h3 class="card-title">Страница не найдена</h3>
        </div>
        <div class="card-body">

          <p class="error-code">
            404
          </p>

          <p class="text-center text-muted">
              Извините, но страница, которую вы ищете, была не найдена. Попробуйте проверить URL-адрес ошибки, затем нажмите кнопку обновления в браузере или попробуйте найти что-то еще в нашем приложении.
          </p>
        </div>
      </div>

      
    </div>
